body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn{
  border: none !important;
  color: white !important;
}
.section1{
  position: relative;
  top: 5rem;
}
.section2{
  position: relative;
  top: 8rem;
}